*.sty
*.app
*.bst
*.py
*.mw
*.ppt
*.pptx
*.xml
*.bcf
*.bib
.DS_Store
*.html
figures/
**/figures/
_site*
Gemfile*

# Ignore all Ruby files and related artifacts
*.rb
*.gem
*.rbc
*.ruby-version
*.ruby-gemset
*.ru
*.rake
*.gemspec
*.lock
/vendor/bundle/
/.bundle/

# Ignore LaTeX source files (but keep PDFs)
*.tex
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv